*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100%;
    /* background-image: url("fondo.jpg");
    background-size: 100% 100%; */
   
}

.logo{
    width: 150px;
    position: absolute;
    right: 20px;
}

.cabeza{
    margin: 0 auto;
    text-align: center;
}
nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
    display: flex;
}

.navegador{
    width: 200px;
    height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

.navegador:hover{
    width: 200px;
    height: 50px;
    display: inline-block;
    color: white;
    background-color: black;
}

main{
    width:70%;
    height:650px;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);

}

footer{
    position: relative;
    border-top:1px solid black;
}

.pie{
    width: 100px;
    height: 60px;
    margin-left: 80px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.pie:hover{
    color: blue;
}

table{
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

.titulo{
    font-size: 20px;
}
th{
    font-size: 20px;
}

.imagen1{
    width: 200px;

}

.bloque{
    display: inline-flex;
    width: 100%;
    text-align: center;
}



.separador{
    margin: 0px 50px 0px 50px;
    padding: 10px;
    text-align: left;
}

.texto1{
    color:red;
    font-size: 20px;
    font-weight: bold;
}
.texto2{
    color: red;
}

#estrellas{
    width: 150px;
}

.mapa{
    position: absolute;
    left: 50%;
    top: 5px;
}

a{
    color: black;
}

footer>div>a{
    color: green;
}